<div class="card min-h-screen">
  <div class="grid my-5 h-screen">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="loginProcess()"
      class="col-5 m-auto border-round-xl shadow-3 p-5 flex flex-column gap-5 border-3 border-50"
    >
      <h1 class="text-center">Task Manager</h1>
      <p-floatlabel>
        <input
          pInputText
          id="userName"
          formControlName="userName"
          autocomplete="off"
          class="w-full"
        />
        <label for="userName">userName</label>
      </p-floatlabel>

      <p-floatlabel>
        <input
          pInputText
          id="Password"
          type="password"
          formControlName="password"
          autocomplete="off"
          class="w-full"
        />
        <label for="Password">Password</label>
      </p-floatlabel>

      <div class="flex my-4 justify-content-center">
        <button
          pButton
          type="submit"
          label="Login"
          icon="pi pi-sign-in"
          [rounded]="true"
          iconPos="right"
        ></button>
      </div>
    </form>
  </div>
</div>
